.piece { 
    position: absolute; 
    transform: translate(-50%, -50%);  
    transform: translate(-50%, -50%);
    z-index: 1000;
    left: 50%;
    top: 50%;
}

.piece img {
    position: relative;
    height: 90px; 
    width: 90px;
 
}

.selected{
    filter: drop-shadow(0 0px 4px rgba(100, 100, 100, 1));

}