.tile {
    position: absolute;
    transform-origin: bottom right;
    bottom: 50%;
    right: 50%;
}

.path:hover{
    cursor: pointer;
    fill: #abcdef;

}

.A1{
    bottom: 50%; 
    left: 0;
}

